.buttonbtn{
    :global{
        div{
            width: 100%;
            height: 45px;
            position: fixed;
            bottom: 0;
            background-color: #f7f7f7;
        }
        .am-button{
           height: 38px;
           line-height: 38px;  
        }
        .save,.clean{
            background-color: #537DB9;
            color: #FFFFFF;
            border: none;
            float: right;
            margin-right: 1em;
        }
    }
}
.qmcon{
    :global{
        // .myCanvas{
        //     width: 100%;
        //     height: 300px;
        //     background-color: #fff;
        // }
        .tips{
            position: absolute;
        }
       
    }
}